.forcastContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, auto); */
    gap: 1rem;
    color: hsl(0 0% 4%);
    margin-inline: auto;
    padding: 1rem 2.5rem;
    min-width: fit-content;
    max-width: 700px
}

.previewWrapper {
    grid-row: 1;
    grid-column: 2;
    align-self: first baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.mtnName {
    grid-row: 1;
    grid-column: 1;
    margin-right: auto;
    justify-self: center;
    align-self: flex-end;
    letter-spacing: var(--letterSpacing);
}

.forecastPreview {
    display: grid;
    justify-items: center;
    padding: .5rem 2rem;
    border-radius: 8px;
}

.forecastPreview:hover,
.forecastPreview:focus {
    cursor: pointer;
    background-color:hsl(0 0% 90% / .8)
}

.forecastPreview:active {
    box-shadow: inset 3px 3px 10px -3px hsl(0 0% 80%);
}
.dateName {
    font-weight: 600;
    font-size: .85rem;
    color: hsl(0 0% 35% / .8);
}

.dateNum {
    font-weight: 600;
    font-size: .85rem;
    color: hsl(0 0% 4% / .8);
}

.totalSnow {
    margin-top: 1rem;
    letter-spacing: var(--letterSpacing);
}

.totalSnow > span {
    font-size: .75em;
    margin-left: .25em
}



