.forecastContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  color: hsl(0 0% 4%);
  margin-top: 2rem;
  margin-inline: auto;
  padding: 1rem 2.5rem;
  min-width: fit-content;
  max-width: 700px;
  font-size: 20px;
}


.mtnName {
  position: relative;
  grid-row: 1;
  grid-column: 1 / -1;
  font-size: 1.35rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../assets/whitemtnsbg1.jpg");
  background-position: 50% 58%;
  background-blend-mode: difference;
  /* color: hsl(180 1% 77%); */
  background-size: cover;
  border: 1px solid hsl(0 0% 88% / 0.25);
  letter-spacing: 0.2ch;
  min-height: 60px;
  padding: 0.75rem;
  border-radius: 8px;
  opacity: 0.9;
}

.previewWrapper {
  grid-row: 2;
  grid-column: 2;
  align-self: first baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.1em;
}

.forecastPreview,
.forecastPreviewDark {
  display: grid;
  justify-items: center;
  padding: 0.55rem 1.55rem;
  border-radius: 8px;
  box-shadow: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.forecastPreview:hover,
.forecastPreview:focus {
  cursor: pointer;
  padding: 0.5rem 1.53rem;
  /* background-color: hsla(0, 0%, 8%); */
  background-color: hsla(200, 30%, 93%, 0.8);
  border: hsla(0, 0%, 7%, 0.8);
  box-shadow: 0 2px inset hsl(0 0% 98%),
    0 -10px 20px 10px hsl(0 0% 96% / 0.5) inset,
    0 10px 20px 10px hsl(0 0% 78% / 0.2) inset, 0 2px hsl(0 0% 96%);
}
.forecastPreview:active {
  box-shadow: inset 3px 3px 10px -3px hsl(0 0% 78%);
}

.forecastPreviewDark:hover,
.forecastPreviewDark:focus {
  cursor: pointer;
  padding: 0.5rem 1.53rem;
  background-color: hsla(200, 15%, 8%, 0.8);
  border: hsla(0, 0%, 7%, 0.8);
  box-shadow: 0 1px inset hsl(0 0% 100% / 0.5),
    0 -10px 20px 10px hsl(0 0% 0% / 0.5) inset,
    0 10px 20px 10px hsl(0 0% 50% / 0.25) inset, 0 1px hsl(0 0% 2% / 0.75);
}

.forecastPreviewDark:active {
  box-shadow: inset 3px 3px 10px -3px hsl(0 0% 22%);
}

.shortDateName {
  font-weight: 600;
  font-size: 0.85em;
  margin: 0;
}

.dateNum {
  font-weight: 600;
  font-size: 0.85em;
  margin: 0;
}

.totalSnow {
  margin-top: .5rem;
  letter-spacing: var(--letterSpacing);
  margin-right: -0.3em;
}

.forecastBackground {
  margin-top: -10px;
  position: relative;
  border-radius: 10px;
  z-index: -1;
  inset: 0.5rem;
  width: 95%;
}

.forecast {
  border: none;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  opacity: 1;
  filter: blur(2px);
  z-index: -1;
}

.forecastDetailWrapper {
  border-radius: 25px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem;
  color: var(--color-transparent);
  font-weight: 600;
  z-index: 1;
}

.dateName {
  grid-row: 1;
  grid-column: 1;
  font-weight: 600;
  font-size: 1.15rem;
  color: hsla(52, 25%, 25%, 0.75);
}

.forecastDetailWrapper > img {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
}

.snowDetail {
  grid-row: 1;
  grid-column: 1;
  align-self: last baseline;
}

.detailWrapper,
.snowDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tempContainer {
  grid-row: 1 / -1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: auto;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  letter-spacing: var(--letterSpacing);
}

.tempWrapper {
  font-size: 1rem;
  display: grid;
  grid-template-rows: auto auto;
}

.label {
  grid-template-rows: 2;
  font-size: 0.75em;
  margin-left: 0.15em;
  align-self: last baseline;
}

.detailWrapper > .label {
  margin-left: -0.3rem;
}

@media (max-width: 550px) {
  .forecastContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 450px;
    font-size: 20px;
    margin-top: 0rem;
  }

  .mtnName {
    font-size: 1rem;
  }

  .previewWrapper {
    grid-row: 2;
    grid-column: 1;
    font-size: 1rem
  }

  .forecastDetailWrapper {
    border-radius: 25px;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1.1rem
  }

  .forecastDetailWrapper > img {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    margin-right: -5rem;
  }

  .snowDetail {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    margin-left: -5rem;
  }

  .tempContainer {
    grid-row: 3;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    font-size: 1.1rem
  }
}
