header {
  padding: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  background-position: 70% 63%;
  background-size: cover;
  background-image: url(../../assets/whitemtnsbg2.jpg);
  background-color: hsla(212, 5%, 30%, 0.45);
  background-blend-mode: difference;
  color: hsl(180 1% 77%);
  box-shadow: 3px 3px 15px 0px hsl(213 100% 4%);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.25ch;
  font-weight: 300;
  font-size: 2.5rem;
  color: hsl(0 0% 100%);
  text-shadow: 0 0 15px hsl(0 0% 4%);
  margin: 0;
}

.searchWrapper {
  color: hsl(0 0% 10%);
  font-family: "Geist Sans", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.1ch;
  margin-left: auto;
  min-width: 30%;
  position: relative;
}

.searchBar {
  border: none;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  background: linear-gradient(hsla(180, 2%, 97%), hsl(180, 2%, 87%, 0.8));
  width: 100%;
}

.resultsList {
  position: absolute;
  top: 38px;
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  border-radius: 5px;
  background: linear-gradient(hsla(180, 2%, 95%), hsl(180, 2%, 85%, 0.85));
  width: 100%;
  max-height: 300px;
  box-shadow: 1px 1px 8px hsla(0, 0%, 50%, 0.8);
  font-size: 0.75rem;
  overflow-y: scroll;
  z-index: 1;
}

.result {
  padding: 0.5rem;
  transition: box-shadow 0.2s ease;
}

.result:hover,
.result:focus {
  cursor: pointer;
  background: linear-gradient(90deg, hsl(0 0% 82%), transparent);
  box-shadow: inset 1px 1px 8px -5px hsl(0 0% 30%);
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.75rem;
  }
}
