:root {
  font-family: "Geist Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  --letterSpacing: 0.1ch;
  --color-transparent: hsl(0 0% 10% / 0.85);
  text-rendering: optimizeLegibility;
  /* font-synthesis: none; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
}

.background-main {
  position: absolute;
  z-index: -2;
  background-image: url("./assets/mtns2.jpg");
  background-color: hsl(0 0% 94%);
  background-blend-mode: color-burn;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.background-texture {
  position: absolute;
  z-index: -1;
  background-image: url("./assets/texture3.jpg");
  background-blend-mode: color-burn;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0.75;
}
